<h1 class="bg-danger text-light">{{title}}</h1>



<div class="w-100 d-flex">
    <div class="w-25 p-1">
        <h3 class="bg-primary text-white p-3">YENİ POLİÇE</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th> <input class="form-control w-100" type="text" #efirma placeholder="FİRMA ADI"></th>
                </tr>
                <tr>
                    <th> <input class="form-control w-100" type="text" #eadi placeholder="ADI"></th>
                </tr>
                <tr>
                    <th> <input class="form-control w-100" type="text" #epolice placeholder="POLİÇE NUMARASI"></th>
                </tr>
                <tr>
                    <th> <input class="form-control w-100" type="date" #etarih [value]="bugun"></th>
                </tr>
            </thead>
            <tbody>
                <tr><input class="btn w-100 bg-success text-white" type="button" (click)="addItem()" value="EKLE">
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-50 p-1">
        <h3 class="bg-primary text-white p-3">POLİÇELER</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <!-- <th>SIRANU</th> -->
                    <th>FİRMA</th>
                    <th>ADI</th>
                    <th>POLİÇE NU</th>
                    <th>TARİH</th>
                    <th colspan="2">İŞLEMLER</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data">
                    <!-- <td>{{item.siranu}}</td> -->
                    <td>{{item.firma}}</td>
                    <td>{{item.adi}}</td>
                    <td>{{item.police}}</td>
                    <td>{{item.tarih}}</td>
                    <td align="center"><input type="image" src='../assets/upgrade.png' (click)="updateItem(item)"></td>
                    <td align="center"><input type="image" src='../assets/delete.png' (click)="deleteItem(item.siranu)">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="w-25 p-1">
        <h3 class="bg-primary text-white p-3">POLİÇE GÜNCELLE</h3>
        <input class="form-control w-100" type="hidden" disabled #gsiranu>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th> <input class="form-control w-100" type="text" #gfirma></th>
                </tr>
                <tr>
                    <th> <input class="form-control w-100" type="text" #gadi></th>
                </tr>
                <tr>
                    <th> <input class="form-control w-100" type="text" #gpolice></th>
                </tr>
                <tr>
                    <th> <input class="form-control w-100" type="date" #gtarih value="25-04-1986"></th>
                </tr>
            </thead>
            <tbody>
                <tr><input class="btn w-100 bg-success text-white" type="button" (click)="update()" value="GÜNCELLE">
                </tr>
            </tbody>
        </table>
    </div>

</div>